<h2> New character </h2>
<%= form_for  [@house, @character] do |f|  %>

<p>
  <%= f.label :character_name%>
  <%= f.text_field :name%>
</p>
<p>
  <%= f.label :Character_photo%>
  <%= f.text_field :image_url%>
</p>

<p>
  <%= f.submit%>
</p>

<%end %>
